.card {
  max-width: 20rem;
  height: 15.4rem;
  cursor: pointer;
  font-family: "Roboto", serif;
  position: relative;
}
.cardImg {
  height: 60%;
}
.cardImg img {
  height: 100%;
  width: 100%;
}
.content {
  padding: 10px 8px;
  display: flex;
  align-items: flex-start;
  background-color: var(--color-cadet);
  border-width: 0px 2px 2px 2px;
}
.content img {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}
.videoInfo {
  margin-left: 8px;
  display: flex;
  flex-direction: column;
}
.videoInfo h4 {
  font-weight: 700;
  line-height: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 1rem;
  width: 170px;
}
.videoInfo h5 {
  margin: 6px 0 4px;
}
.videoInfo h5,
.videoInfo span {
  font-size: 1rem;
  font-weight: 400;
  padding-left: 1rem;
}
.cardImg span {
  position: absolute;
  top: 6rem;
  right: 8px;
  font-weight: 600;
  font-size: 0.7rem;
  background-color: var(--color-accent);
  color: var(--color-black);
  padding: 4px 8px;
}
.options {
  color: var(--color-white);
  outline: none;
  border: none;
  background-color: inherit;
  margin-left: 1.6rem;
  padding: 8px;
  cursor: pointer;
  font-size: 1rem;
}
.options:hover {
  color: var(--color-accent);
}
.menu {
  position: absolute;
  display: flex;
  right: 1.2rem;
  flex-direction: column;
  transform-origin: top right;
  transition: transform 0.2s ease-in;
  z-index: 1;
}
.menu button {
  background-color: var(--color-accent);
  text-align: left;
  font-family: "Roboto", serif;
}
.menu .active {
  translate: (1);
}
.menu button:hover {
  opacity: 1;
  color: var(--color-blue);
}
