@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.form {
  margin: 10rem auto;
  color: var(--color-white);
  border-radius: 5px;
  border: 2px solid var(--color-accent);
  font-family: "Poppins", serif;
  background-color: var(--color-primary);
  max-width: 30rem;
  padding: 2rem;
}

.form h1 {
  margin-bottom: 2.3rem;
  font-weight: 700;
  font-family: "Roboto", serif;
  text-align: center;
}
.input_container {
  margin: 1.6rem 0rem 8px;
}
.input_container input {
  width: 100%;
}
.checkbox {
  margin-right: 5px;
}

.form label {
  font-size: 1rem;
  font-weight: 500;
  user-select: none;
  display: block;
}
.btn {
  margin: 1rem 0;
  width: 50%;
  margin-left: 8rem;
  display: block;
  transition: opacity 0.2s ease-in;
}
.btn:hover {
  background-color: var(--color-accent);
}
.form input {
  box-sizing: border-box;
  outline: none;
  font-size: 0.9rem;
  border: 1px solid var(--color-accent);
  padding: 0.3rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.checkbox_container {
  margin: 1rem 0;
  margin-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.signup {
  font-size: 1rem;
  margin-left: 5rem;
}
.span_btn {
  cursor: pointer;
  font-size: 18px;
  transition-property: color;
  transition-duration: 2s;
  color: var(--color-accent);
}
.span_btn:hover {
  color: var(--color-border-hover);
}
.name_container {
  display: flex;
  gap: 0.5rem;
}
.name_container > div {
  width: 70%;
}
.remember_me {
  margin-left: 3rem;
}
