.CardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  transition: width 0.2s ease-in;
}
@media only screen and (max-width: 410px) {
  .CardContainer {
    margin: auto;
    padding: 1rem;
  }
}
