.playlist {
  display: flex;
  justify-content: space-between;
  height: 12rem;
  background-color: var(--color-secondary);
  padding: 2rem;
  max-width: 28rem;
  align-items: center;
  cursor: pointer;
}
.title {
  font-weight: 500;
  line-height: normal;
  width: 100%;
  overflow: hidden;
}
.image_container {
  width: 57%;
  height: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.delete {
  width: 25%;
  position: absolute;
  background-color: transparent;
  border: none;
  color: var(--color-white);
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.delete i {
  font-size: 2rem;
}
