.page_info {
  height: 100vh;
  width: 20rem;
}
.img_container {
  position: relative;
  height: 12rem;
}
.img_container img {
  height: 100%;
  width: 100%;
}
.title {
  margin: 1.6rem 0;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-accent);
}
.desc {
  font-size: 1.4rem;
}

@media only screen and (max-width: 1024px) {
  .page_info {
    height: fit-content;
    margin-bottom: 2.4rem;
  }
}
@media only screen and (max-width: 840px) {
  .page_info {
    width: 24rem;
  }
}
