.sidebar {
  position: fixed;
  height: 100%;
  width: 12rem;
  top: 4.7rem;
  color: var(--color-white);
}
.sidebar ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  font-family: "lato", serif;
}
.sidebar i {
  font-size: 1rem;
  color: var(--color-accent);
  padding-right: 0.5rem;
}
.sidebar li:hover {
  border-left: 2px solid var(--color-accent);
}
.sidebar a {
  display: block;
  padding: 4px 0;
  color: var(--color-white);
  transition: color 0.2s ease-in;
}
.sidebar a:hover {
  color: var(--color-white);
  transition: color 0.2s ease-in;
}
.sidebar a:active {
  opacity: 0.5;
}
@media only screen and (max-width: 700px) {
  .sidebar {
    width: 4.4rem;
    transition: width 0.2s ease-in;
    margin-top: 3rem;
  }
  .sidebar span {
    display: none;
  }
}
