.sidebar {
  position: fixed;
  height: 100%;
  width: 17%;
  background-color: var(--color-primary);
  top: 4.7rem;
  color: var(--color-white);
}
.sidebar ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1rem;
  font-size: 1.2rem;
  font-family: "lato", serif;
}
.sidebar i {
  font-size: 1rem;
  color: var(--color-accent);
  padding-right: 0.5rem;
}
.sidebar li:hover {
  background-color: var(--color-blue);
}
