.modal_container {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  z-index: 2;
  opacity: 0.7;
  cursor: pointer;
}
.modal {
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-blue);
  padding: 1.6rem;
}
.modal > h3 {
  text-align: center;
}
.modal_btn {
  display: block;
  margin: 1.6rem auto 0;
  color: var(--color-white);
  background-color: var(--color-text);
  font-family: "Roboto", serif;
}
.new_playlist {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.new_playlist input {
  padding: 8px 4px;
  font-size: 1rem;
  font-family: "Roboto", serif;
  outline: none;
}
.btn_container {
  display: flex;
  justify-content: space-between;
}
.btn_container button {
  color: var(--color-white);
  background-color: transparent;
  font-family: "Roboto", serif;
  border: 2px solid var(--color-accent);
  border-radius: 20px;
}

.playlist_container li {
  text-align: left;
  margin: 8px 0;
}

.playlist_container label {
  user-select: none;
  color: var(--color-accent);
  margin-left: 4px;
}
