.watch_container {
  display: flex;
  width: calc(100% - 16.8rem);
}
@media only screen and (max-width: 1024px) {
  .watch_container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .watch_container {
    width: calc(100% - 8rem);
  }
}
