:root {
  --color-primary: #041441e0;
  --color-secondary: #051525a2;
  --color-border-hover: #22b2ee;
  --color-blue: #052b77;
  --color-blue-grey: #5072a7;
  --color-indigo: #3f00ff;
  --color-morning-blue: #6050dc;
  --color-royal-blue: #4169e1;
  --color-dark-blue: #1d366d;
  --color-blue-bell: #1f124b;
  --color-text: #7a7a7a;
  --color-cadet: #5d737e;
  --color-accent: #61ce70;
  --color-white: #fff;
  --color-quick-silver: #9da3a4;
  --color-black: #000;
  --color-orange-red: #f26430;
}
/* reset css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: rgb(4, 20, 65);
  background: linear-gradient(
    176deg,
    rgba(4, 20, 65, 1) 0%,
    rgba(4, 20, 66, 1) 26%,
    rgba(6, 95, 181, 0.9780287114845938) 100%
  );
  color: var(--color-white);
  background-repeat: no-repeat;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.body_style {
  margin: 7rem 3rem 3rem 13rem;
  transition: margin 0.2s ease-in;
}
@media only screen and (max-width: 1600px) {
  .body_style {
    margin-left: 13rem;
    transition: margin 0.2s ease-in;
  }
}
@media only screen and (max-width: 840px) {
  .body_style {
    margin-left: 11rem;
  }
}
