:root{
  --color-primary:#041441;
  --color-secondary:#54595F;
  --color-border-hover:#22b2ee;
  --color-blue:#052b77;
  --color-dark-blue:rgb(2, 25, 73);
  --color-text:#7A7A7A;
  --color-accent:#61CE70;
  --color-white:#FFF;
  --color-black:#000;

}
/* reset css */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0; 
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}