.card_container {
  box-sizing: border-box;
  display: flex;
  max-width: 72rem;
  width: 100%;
  padding: 1.6rem;
  background-color: var(--color-secondary);
  position: relative;
  align-items: flex-start;
}
.video_container {
  position: relative;
  cursor: pointer;

}
.video_container img {
  height: 4.6rem;
  width: 8.6rem;
  display: block;
}
.video_container span {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 0.7rem;
  background-color: var(--color-accent);
  color: var(--color-black);
  padding: 4px 8px;
}
.content {
  margin-left: 1.6rem;
}
.title {
  line-height: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.content h5 {
  font-weight: 400;
  color: var(--color-white);
}
.option {
  margin-left: auto;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: inherit;
  color: var(--color-white);
  font-size: 1rem;
}
.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 2rem;
  transform-origin: top right;
  transition: transform 0.2s ease-in;
  z-index: 1;
}
.menu button {
  background-color: var(--color-accent);
  text-align: left;
  font-family: "Roboto", serif;
  padding: 8px;
  display: block;
  margin: 8px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  border: none;
}
